*{
	font-family: 'Open Sans',sans-serif;
	margin: 0;
	padding: 0;
}
#container{
	min-height: 100vh;
	background: #091921;
	display: flex;
	justify-content: center;
	align-items: center;	
}
#container::before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(#e91e63,#ffc107);
	clip-path: circle(22% at 30% 20%);
}
#container::after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(#ffffff,#da00ff);
	clip-path: circle(20% at 70% 90%);
}
#calculator{
	width: 300px;
	height: 530px;
	position: relative;
	background: rgba(255, 255, 255,0.05);
	border-radius: 6px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	border-left: 1px solid rgba(255, 255, 255, 0.2);
	overflow: hidden;
	z-index: 10;
	backdrop-filter: blur(15px);
}
#result{
	position: relative;
	display: grid;
}
#history{
	grid-column: span 4;
	text-align: right;
	height: 140px;
	width: 290px;
	outline: none;
	padding: 10px;
	font-size: 30px;
	background: transparent;
	color: #fff;
	border-bottom: 1px solid rgba(255, 255, 255, 0.05);
	border-left: 1px solid rgba(255, 255, 255, 0.2);
}
#output{
	text-align: right;
	height: 60px;
	margin: 10px 20px;
	font-size: 30px;
}
#keyboard{
	height: auto;
	display: flex;
	flex-direction:row;
	flex-wrap: wrap;
}
#keyboard button{
	display: grid;
	
	width: 75px;
	height: 75px;
	color: #fff;
	font-weight: 300;
	background: transparent;
	place-items: center;
	border: none;
	cursor: pointer;
	font-size: 16px;
	user-select: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.05);
	border-left: 1px solid rgba(255, 255, 255, 0.05);
}
#keyboard button:hover{
	transition: 0s;
	background:  rgba(255, 255, 255,0.05);
}
#keyboard button:active{
	background: #14ff47;
	color: #192f00;
	font-size: 20px;
	font-weight: 200;
}